<header>
<div class="inline-buttons">
  <p>
  <h3>EJS is Fun </h3>
  <a class="one-third first button" href="/home">Home</a>
  <a class="one-third button" href="/user">User</a>
  <a class="one-third button" href="/contact">Contact</a>
  </p>
  </div>
</header> 