<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Register Here </h1>
            <form method="POST" action="/home">
               <div class="from-group">
                   <label for="name">Name</label>
                   <input type="text" class="from-control" name="name" id="Name"/>
                   <label for="gender">Gender</label>
                   <input type="text" class="from-control" name="gender" id="Gender"/>
                   <button type="submit" class="btn btn-primary">submit</button>
               </div>
            </form>
        </div>
    </div>
</div>